{% extends "base.html" %}

{% block content %}
<div class="split left border-left">


  <div id='top_of_page' class="centered">
    {% if verse %}
    {% if verse == "Not Found"%}
    <h2>The Book of Mormon verse you inputed is not valid. Please try again.</h2>
    {% elif verse == "No Works"%}
    <h2>Please select at least one Standard Works to return similar verses from.</h2>
    {% else %}
    <div class="verseDisplay">
      <h2>{{verse['book'].title()}} {{verse['chapter']}}:{{verse['verseNum']}}</h2>
      <p>{{verse['verse']}}</p>
    </div>
    <i onClick="document.getElementById('returned_verses').scrollIntoView();" class="arrow down"> </i>
    {% endif %}
    {% endif %}

    {% if sentence %}
    <div class="verseDisplay">
      <h2>{{sentence}}</h2>
    </div>
    {% endif %}
    <div class="checkbox" id="checkbox_div">
      <p>Return results from these standard works:</p>
      <input type="checkbox" id='oldtestcheckbox' name="oldtestcheckbox" {% if checkInfo[0] %} checked {% endif %} />
      <label for="oldtestcheckbox">Old Testament</label>
      <input type="checkbox" id='newtestcheckbox' name="newtestcheckbox" {% if checkInfo[1] %} checked {% endif %} />
      <label for="newtestcheckbox">New Testament</label>
      <input type="checkbox" id='bomcheckbox' name="bomcheckbox" {% if checkInfo[2] %} checked {% endif %} />
      <label for="bomcheckbox">Book of Mormon</label>
      <input type="checkbox" id='dccheckbox' name="dccheckbox" {% if checkInfo[3] %} checked {% endif %} />
      <label for="dccheckbox">D&C</label>
      <input type="checkbox" id='pogpcheckbox' name="pogpcheckbox" {% if checkInfo[4] %} checked {% endif %} />
      <label for="pogpcheckbox">Pearl of Great Price</label>
    </div>

    <div class="split1 left border-left">
      <h3>Search by Verse</h3>
      {% if form_submit %}
      <form method="post" id='form1' action="/">
        {{form_submit | safe}}
      </form>
      {% else %}
      <form method="post" id='form1' action="/">
        <p>Work:</p>
        <select id="workDropdown" name="work" onchange="changeBooks()" required>
          <option id='defaultWork' value="">Select Work...</option>
          <option id='oldtestament' value="old testament">Old Testament</option>
          <option id='newtestament' value="new testament">New Testament</option>
          <option id='bookofmormon' value="book of mormon">Book of Mormon</option>
          <option id='d&c' value="d&c">D&C</option>
          <option id='pearlofgreatprice' value="pearl of great price">Pearl of Great Price</option>
        </select>
        <p>Book:</p>
        <select id="bookDropdown" name="book" onchange="changeChapters()" required>
          <option id="defaultBook" value="defaultBook">Select Book...</option>
        </select>
        <p>Chapter/Section:</p>
        <select id="chapterDropdown" name="chapter" onchange="changeVerses()" required>
          <option value="defaultChapter">Select Chapter...</option>

        </select>
        <p>Verse Number:</p>
        <select id="verseDropdown" name="verse" required>
          <option value="defaultVerse">Select Verse...</option>

        </select>
        <p><input type="submit" value="Submit" /></p>
      </form>
      {% endif %}
    </div>
    <div class="split1 right">
      <h3>Search by Custom Sentence</h3>
      <form method="post" id='form' action="/">
        <p>Enter your prompt:</p>
        {% if sentence %}
        <textarea placeholder="The Lord will protect us when we are humble." name="sentence" id="promptEnter"
          required>{{sentence}}</textarea>
        {% else %}
        <textarea placeholder="The Lord will protect us when we are humble." name="sentence" id="promptEnter"
          required></textarea>
        {% endif %}
        <p><input type="submit" value="Submit" /></p>
      </form>

    </div>
  </div>
</div>

<div class="split right">
  <div id='returned_verses' class="centered">
    {% if ((verse) and (verse != "Not Found" and verse!="No Works")) or ((sentence) and (sentence != "Not Found"))%}
    {% if foundVerses|length>0 %}
    <div class="verseDisplay">
      <button onclick="plusDivs(-1)">&#10094;</button>
      <button onclick="plusDivs(1)">&#10095;</button>
      {% for item in foundVerses%}
      <div class="similarVerse">
        <h3 class="verseRank">#{{loop.index}}</h3>
        <h3 class="similarityRank">Score: {{item['similarity_score']}}</h3>
        <h2>{{item['book'].title()}} {{item['chapter']}}:{{item['verseNum']}}</h2>
        <p>{{item['verse']}}</p>
      </div>
      {% endfor %}

    </div>
    <div class="verseList">
      {% for item in foundVerses%}
      <div class="otherVerse" onclick="currentDiv({{loop.index}})">
        <p>{{item['book'].title()}} {{item['chapter']}}:{{item['verseNum']}}</p>
      </div>
      {% endfor %}
    </div>
  
    <i onClick="document.getElementById('top_of_page').scrollIntoView();" class="arrow up"></i>

    {% else %}
    <h2>For some reason, our developer failed. Sorry!</h2>
    {% endif %}
    {% endif %}
  </div>
</div>

{% endblock %}